@charset "UTF-8";

body{
    background-color: black;
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}
h2{
    color: rgb(255, 255, 255);
}
p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
a{
    color: red;
}
